.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.logo-text {
  font-family: 'Poppins';
  font-weight: 700;
  font-family: 'Poppins';
  font-size: 24px;
  line-height: 1.46;
  display: none;

  @media (min-width: 320px) {
    display: block;
  }

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 1.5;
  }
}